* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Tahoma, sans-serif;
}
header {
  background-color: #6ccad6;
}
#topo {
  width: 200px;
  height: 200px;
  margin: auto; /*Margin: auto -> estratégia para centralizar uma div*/
}
header h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  color: white;
  letter-spacing: 12px;
  line-height: 50px;
  width: 50px;
  float: left;
  padding: 60px 0 30px;
}
header p {
  color: #fff;
  font-size: 20px;
  width: 300px;
  float: left;
}
header img {
  margin-top: 10px;
}
main h2 {
  text-align: center;
  padding: 30px 0 40px;
  color: #6b3203;
  font-size: 32px;
  letter-spacing: 2px;
}
#conteudo-home {
  width: 1280px;
  height: 280px;
  margin: auto;
}
.regiao {
  border: 2px solid#ccc;
  border-radius: 15px;
  margin: 7px;
  float: left;
}
#conteudo-home img {
  margin-top: -2px;
  margin-left: -2px;
}
#conteudo-home a {
  display: block;
  width: 235px;
  height: 160px;
}
#conteudo-home p {
  text-align: center;
  margin: 15px 0 20px;
  font-weight: bold;
  color: #6333b1;
}
footer {
  background-color: white;
  text-align: center;
  font-style: italic;
  color: #fff;
  padding: 10px 0;
}

/* Páginas internas */
#conteudo-interno {
  width: 1280px;
  height: 480px;
  margin: auto;
}
#conteudo-interno h2 {
  text-align: left;
  text-indent: 10px;
}
.foto {
  border: 2px solid #ccc;
  border-radius: 15px;
  margin: 10px;
  float: left;
}
.foto img {
  border-radius: 15px 15px 0 0;
}
.legenda {
  text-align: center;
}
.capital {
  font-weight: bold;
}
.voltar {
  font-size: 14px;
  font-style: italic;
  display: block;
  text-align: center;
  padding: 20px 0;
}
